{% load static %}
<!-- Load Bootstrap related libraries -->
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load crispy_forms_tags %}
{{ date_form.media }}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--     <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" > -->
    <link rel="stylesheet" href="../static/style.css">
    <title>Exam Date Info</title>
    <!-- <p id='exam_id'>{{ exam_instance.id }}</p> -->

</head>

<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">

            <h1 class="mt-2"> Exam Date Info </h1>
            <hr class="mt-0 mb-4">

            <form action="/get_date_info/" method="post">
                {% csrf_token %}

                {{ date_form|crispy }}

                {% buttons %}
                <button type="submit" class="btn btn-primary" name="Submit">
                    Submit
                </button>
                {% endbuttons %}

            </form>

        </div>
    </div>
</div>




</body>
</html>
