{% load static %}
<!-- Load Bootstrap related libraries -->
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load crispy_forms_tags %}
{{ exam_form.media }}
{% block title %}
    Exam Request 
{% endblock %}

{% block content %}

    <blockquote>
        {% for exa in exam_request %}
        <p>
            {{ exa.instructor_first_name }}
            {{ exa.instructor_last_name }}
            {{ exa.department }}
            {{ exa.course_name }}
            {{ exa.course_number }}
            {{ exa.section_number}}
            {{ exa.num_students}}
            {{ exa.calculator }}
            {{ exa.notes }}
            {% if exa.computer_exam == True %}
                Computer Exam
            {% else %}
                <p> </p>
            {% endif %}
            {{ exa.scantron }}
            {{ exa.timed }}
            {{ exa.dictionary }}
            {{ exa.comment }}
        </p>
        {% endfor %}
    </blockquote>

{% endblock %}
